// Place all the styles related to the Pets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{padding-top:20px;}
.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
.carousel-inner {
  height: 350px;
}
// .carousel .item, .carousel .row, .carousel .row .col-md-3 {
//   height: 100% !important;
// }
.carousel .item .thumbnail {
  height: 250px !important;
}
/* The controlsy */
.carousel-control {
  left: -12px;
    height: 40px;
  width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
}
.carousel-control.right {
  right: -12px;
}
/* The indicators */
.carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
  background: #cecece;
}
.carousel-indicators .active {
background: #428bca;
}